.cart {
  background: var(--body-bg);
}

.cart .container {
  padding: 0 20px;
  position: relative;
}

.cart .container h1,
.main__block__top--link {
  text-align: left;
  margin: 0;
  padding: 30px 0 0;
}

.of-hid {
  position: fixed;
  width: 100%;
}

.cart__bot {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.cart__bot--price {
  padding: 0 0 0 35px;
  text-align: right;
}

.cart__bot--price > span {
  font-weight: bold;
  padding-left: 15px;
  display: inline-block;
  width: 130px;
}

.cart__bot a {
  margin: 20px 0;
  background: var(--green);
  padding: 10px 25px;
  border: 1px solid var(--gray-border-nav);
  border-radius: 5px;
  color: var(--light-text-color);
  text-decoration: none;
}

.cart__bot a:hover {
  background: var(--orange);
}

.cart--message {
  font-size: 18px;
  margin: 0;
  padding: 50px 0;
}

.cart__dialog {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: none;
  position: fixed;
}

.cart__dialog form {
  background: var(--light-text-color);
  padding: 20px;
  border-radius: 5px;
  border: 1px solid var(--body-bg);
  margin: 0 20px;
}

.cart__dialog form > label {
  padding-left: 5px;
}

.cart__dialog label {
  padding: 5px 0;
  width: 190px;
}

.cart__dialog .form--input input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #efefef;
  width: 100%;
}

.cart__dialog .form--pe {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.form--input {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 100%;
  justify-content: space-between;
}

.form--pe a:hover {
  background: var(--orange) !important;
}

.address {
  flex-direction: column;
  padding: 5px;
}

.address div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.address select {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #efefef;
  width: 100%;
  margin: 3px;
}

.form--input select {
  width: 100%;
  padding: 0 5px;
  margin: 0 0 0 15px;
}

.cart__dialog .form--pe a {
  text-decoration: none;
  background: var(--green);
  padding: 10px 25px;
  margin: 5px;
  border-radius: 5px;
  color: var(--light-text-color);
  text-align: center;
}

#street {
  width: 100%;
}

.status {
  margin: 0;
  padding: 5px 0 0 0;
  color: red;
  font-size: 12px;
}

.cart-status {
  padding: 0;
  margin: 2px 0 0 0;
  font-size: 12px;
  color: red;
}

.main__block__top--left {
  justify-content: start;
  display: flex;
  align-items: flex-end;
}

.main__block__top--left h1 {
  text-align: left !important;
}

.main__block__top--left a {
  padding: 12px 0 0 10px;
  text-decoration: none;
  font-size: 12px;
  color: var(--gray-bg);
}

.cart__list .cart__list--block {
  background: #fff;
}

.cart__list .cart__list--block img {
  border: 1px solid #333;
}

.cart__list {
  list-style: none;
  padding: 0;
}

.cart__list li {
  background: #fff;
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

.des {
  flex-direction: column;
  padding-left: 20px;
}

.des a {
  text-decoration: none;
  color: #000;
  font-size: 26px;
  padding: 8px 0;
}

.des .price {
  font-size: 20px;
  padding: 10px 0;
  align-items: flex-end;
}

.des .price span {
  font-size: 18px;
  padding: 0 10px;
}

.cart__list li div {
  display: flex;
}

.quantity {
  width: 50px;
  height: 50px;
  text-align: center;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.remove a {
  font-size: 30px;
  text-decoration: none;
  color: #000;
}

.remove a:hover {
  color: var(--green);
}

.main__block__top--right {
  font-size: 12px;
  color: var(--gray-bg);
}

.main__block__top--right span {
  font-size: 12px;
}

.cart__table {
  width: 100%;
  margin: 20px auto;
  /* border: 1px solid var(--gray-border-header); */
  border-radius: 5px;
  overflow-x: auto;
}

.cart__table th,
.cart__table td {
  padding: 10px;
  text-align: center;
}

.cart__table th {
  background-color: var(--green);
  color: var(--light-text-color);
}

.cart__table tr {
  background: var(--light-text-color);
}

.cart__table input[type="text"] {
  width: 50px;
  padding: 5px;
  border: 1px solid var(--gray-border-header);
  border-radius: 3px;
  text-align: center;
}

.cart__table a {
  color: var(--orange);
  text-decoration: none;
}

.cart__table a:hover {
  text-decoration: underline;
}

.cart__dialog h3 {
  margin: 5px;
}

.cart__dialog p {
  margin: 0 5px;
  color: var(--gray-bg);
  font-size: 12px;
  padding: 5px 0;
}

@media screen and (max-width: 600px) {
  .wp {
    overflow-y: scroll;
    height: 375px;
    overflow-x: hidden;
  }

  .cart__dialog form {
    width: 300px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-58%, -50%);
  }

  .cart__dialog .form--pe {
    align-items: start;
  }

  .cart__dialog .form--pe a {
    width: 100%;
  }

  .cart__table {
    font-size: 12px;
  }

  .cart__table th,
  .cart__table td {
    padding: 8px;
  }

  .cart__table input[type="text"] {
    width: 40px;
  }

  .cart__bot a {
    padding: 8px 20px;
    font-size: 14px;
  }

  .cart__dialog {
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 150px);
    margin-top: 60px;
  }

  .cart__dialog .form--pe {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 5px;
  }

  .address div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .address div select {
    padding: 5px;
    margin: 5px 1px;
    width: auto;
  }

  .form--name {
    align-items: flex-start !important;
  }

  .cart__dialog h3,
  .cart__dialog p {
    padding: 5px !important;
  }

  .address {
    padding: 0 8px !important;
  }

  .btn-form {
    padding: 10px !important;
  }

  .form--input {
    flex-direction: column;
  }

  .main__block__top--left {
    flex-direction: column;
    align-items: flex-start;
  }

  .main__block__top--left a {
    padding: 12px 0 0 0;
  }

  .cart__list img {
    width: 100px;
  }

  .cart__list li > div {
    flex-direction: column;
  }

  .des {
    padding: 0;
  }
}
